extends layout

block content
	h1 Today matches
	table
		thead
			tr
				th(class='dataColumn') Home
				th(class='dataColumn') Info
				th(class='dataColumn') Away
				th(class='dataColumn') Ahihi
		tbody
			-var ob = JSON.parse(json)
			ol
				-for(var prop in ob)
					tr(class=(ob[prop] % 2 == 0) ? 'odd' : 'even')
						td
							img(src='#{ob[prop].logo_home}', width="96", height="72")
						td #{ob[prop].time}
						td
							img(src='#{ob[prop].logo_away}', width="96", height="72")
						td(rowspan=2)
							button(class='button big-btn', onClick=("watch('" + ob[prop].details_url + "')")) Xem
					tr(class=(ob[prop] % 2 == 0) ? 'odd' : 'even')
						td #{ob[prop].team_home}
						td #{ob[prop].league}
						td #{ob[prop].team_away}
			

